@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&display=swap");
* {
    padding: 0px;
    font-family: "Barlow", sans-serif;
}

.post {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin-right: auto;
    .creactPost {
        width: 400px;
        height: 100px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        display: flex;
        box-shadow: 0px 0px 15px 2px #d2dcef;
        border-radius: 10px;
        box-sizing: border-box;
        .avt-user {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            position: relative;
            margin: auto;
        }
        button {
            width: 300px;
            height: 40px;
            border-radius: 20px;
            margin: auto;
            background-color: #c7c7c7;
            font-weight: 700;
        }
    }
    .list-post {
        width: 400px;
        height: 100%;
        position: relative;
        margin: auto;
        .post-component {
            display: flex;
            height: auto;
            box-shadow: 0px 0px 15px 2px #d2dcef;
            border-radius: 10px;
            margin-bottom: 30px;
            flex-direction: column;
            .headerPost {
                width: 360px;
                height: 50px;
                display: flex;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 20px;
                .avt-poster {
                    width: 50px;
                    height: 50px;
                    border-radius: 20px;
                    position: relative;
                    margin: auto;
                }
                .detail {
                    margin-left: 10px;
                    .name-poster {
                        font-weight: 700;
                        white-space: nowrap;
                        margin-bottom: 0px;
                    }
                    .time-posted {
                        margin-bottom: 0px;
                        font-size: 12px;
                    }
                }
            }
            .bodyPost {
                .content-poster {
                    margin-left: 20px;
                    margin-right: 20px;
                }
                .file-attach {
                    width: 400px;
                    height: auto;
                }
            }
            .footerPost {
                height: auto;
                .parameter {
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                    margin-top: auto;
                    margin-bottom: auto;
                    justify-content: space-between;
                    .parameter-readed {
                        text-align: left;
                        margin-left: 5px;
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .parameter-comment {
                        text-align: right;
                        margin-right: 5px;
                    }
                }
                hr {
                    width: 380px;
                    margin: auto;
                    height: 0.3px;
                }
                .react {
                    display: flex;
                    flex-direction: row;
                    height: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    .bt-react {
                        width: 200px;
                        border-radius: 5px;
                        margin-left: 5px;
                        margin-right: 5px;
                        color: #626262;
                        font-size: 14px;
                        background-color: white !important;
                        // box-shadow: 0px 0px 15px 2px #d2dcef;
                    }
                    .bt-readed {
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .bt-comment {
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .areaComment {
                display: none;
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: auto;
                margin-right: auto;
                .avt-poster {
                    width: 40px;
                    border-radius: 20px;
                    position: relative;
                    margin-bottom: auto;
                    margin-top: auto;
                    margin-left: 10px;
                    margin-right: 20px;
                }
                .inputGroup{
                    display: flex;
                    border-radius: 20px;
                    border: 1px solid gray;
                    margin-right: 10px;
                    margin-top: auto;
                    margin-bottom: auto;
                    .inputComment {
                        max-width: 350px;
                        border: none;
                        height: 30px;
                        margin-right: 10px;
                        margin-top: auto;
                        margin-bottom: auto;
                        outline-style: none;
                        margin-left: 15px;
                        border-radius: 20px;
                        padding: 5spx;
                    }
                    .sendMessage{
                       width: 25px;
                       height: 25px;
                       background-color: rgba(255, 255, 255, 0);
                       margin-top: auto;
                       margin-bottom: auto;
                       margin-left: 10px;
                       margin-right: 10px;
                    }
                }
            }
            .areaCommentDisplay{
                display: flex;
                transition-duration: 1s;
            }
        }
    }
}
@media only screen and (max-width: 723px) {
    .post {
        .creactPost {
            width: auto;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 10px;
            box-shadow: none;
            .avt-user {
                display: none;
            }
            button {
                width: 75%;
                margin: auto;
            }
        }
    }
}
